<main class="form-container">
    <div>
		<header class="form-header">
		  <h2>Registro de Usuario</h2>
		  <p>Por favor completa los siguientes datos obligatorios</p>
		</header>
	</div>
	<div>
	 <form id='FormularioRegistro' (ngSubmit)="guardarUsuario()" >   

      <div class="form-row">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" placeholder="Ej. Carlos" required>
        </div>

        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" id="apellido" [(ngModel)]="apellido" name="apellido" placeholder="Ej. Pérez" required>
        </div>
      </div>


      <div class="form-row"> 
				<div class="form-group">
          <label for="tipo_doc">Tipo de documento</label>
          <select id="tipo_doc" [(ngModel)]="tipo_doc" name="tipo_doc" required>
            <option value="" disabled >Seleccione...</option>
            <option value="CC" selected>Cédula de Ciudadanía</option>
            <option value="CE">Cédula de Extranjería</option>
            <option value="PAS" >Pasaporte</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dni">Número de DNI</label>
          <input type="text" id="dni" [(ngModel)]="dni" name="dni" placeholder="12345678" pattern="[0-9]{6,12}" title="Ingrese solo números" required>
        </div>
      </div>


      <div class="form-group">
        <label for="fecha_nacimiento">Fecha de nacimiento</label>
        <input type="date" id="fecha_nacimiento" [(ngModel)]="fecha_nacimiento" name="fecha_nacimiento" required>
      </div>


      <div class="form-group">
        <label for="correo">Correo electrónico</label>
        <input type="email" id="correo" [(ngModel)]="correo" name="correo" placeholder="ejemplo@correo.com" required>
      </div>


      <div class="checkbox-group">
        <input type="checkbox" id="datos_personales" [(ngModel)]="datos_personales" name="datos_personales" required>
        <label for="datos_personales">
          Acepto el tratamiento de mis datos personales de acuerdo con las <a href="#">políticas de privacidad</a>.
        </label>
      </div>

      <button type="submit" class="btn-submit" >Enviar Registro</button>
    </form>
	</div>
	
	@if (ultimoUsuario(); as user) {
    <div class="user-info">
      <h3>Entrenador activo</h3>
      <p><strong>ID generado:</strong> {{ user.id }}</p>
      <p><strong>Nombre Completo:</strong> {{ user.nombreCompleto }}</p>
      <p><strong>Documento:</strong> {{ user.documento.tipo }} - {{ user.documento.numero }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ user.fechaNacimiento }}</p>
      <p><strong>Correo:</strong> {{ user.correo }}</p>
      <p>Ya puedes capturar Pokémon. Se guardarán en tu inventario.</p>
    </div>
  }
  </main>
<footer>
    © 2026 · Formulario de contacto
</footer>