<div>
    <h2>El maleto de los Pokemones</h2>
    <p>Total en almacen: <strong>{{pokemonService.misPokemons().length}}</strong></p>
</div>

    @if (pokemonService.nombreEntrenadorActivo(); as entrenadorActivo) {
        <p>Entrenador activo: <strong>{{entrenadorActivo}}</strong></p>
    } @else {
        <p class="sin-datos">Registra un entrenador para consultar su inventario.</p>
    }
<div class="grid-pokemons">
    @for(poke of pokemonService.misPokemons(); track poke.id; let idx = $index; let total = $count ) {
        <div appResaltarTarjeta="item-inventario" [ngClass]="{'favorito-activo' : poke.esFavorito}">
            <span class="posicion-badge"> #{{idx + 1}} de {{total}}</span>
            <img [src]="poke.image"/>
            <h4>{{poke.name}}</h4>
            <p>{{poke.type}}</p>

            <div class="acciones">
                <button (click)="pokemonService.actualizarFavorito(poke.id)" [class.btn-fav]=" poke.esFavorito">{{poke.esFavorito ? 'favorito': 'marcar'}}</button>
                <button class="btn-eliminar" (click)="pokemonService.eliminarPokemon(poke.id)">
                    Matar
                </button>
                

            </div>
        </div>
    } @empty {
        <div class="sin-datos">
            <p> No tienes ningun Pokemon Capturado</p>
            <p> Registra un nuevo Pokemon </p>
        </div>
    }

</div>